<title><%- SiteTitle %></title>
<meta name="description" content="<%- SiteDescription %>">

<!-- Site Settings -->
<meta name="theme-color" content="#3bd8ff">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<meta charset="utf-8">

<!-- Tags -->
<meta name="keywords" content="<%- SiteKeywords %>">

<!-- Twitter -->
<meta name="twitter:site" content="/home">
<meta name="twitter:title" content="<%- SiteTitle %>">
<meta name="twitter:description" content="<%- SiteDescription %>">
<meta name="twitter:creator" content="KingCh1ll">
<meta name="twitter:image" content="/assets/images/siteicons/favicon.ico">

<!-- OG Data -->
<meta property="og:title" content="<%- SiteTitle %>">
<meta property="og:description" content="<%- SiteDescription %>">
<meta property="og:image" content="/assets/images/siteicons/favicon.ico">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Ch1ll">

<!-- Icons -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/siteicons/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/siteicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/fav/favicon-16x16.png">

<!-- Stylesheets -->
<link href="/assets/css/theme.css" rel="stylesheet"  rel="noopener" type="text/css">
<link href="/assets/css/aos.css" rel="stylesheet" rel="noopener">
<link href="/assets/css/pace.css" rel="stylesheet" rel="noopener">
<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" rel="noopener" type="text/css">
<link href="//use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet" rel="noopener" type="text/css">
