<!-- Navagation -->
<header>
  <nav class="navbar navbar-expand-lg fixed-top text-white auto-hiding-navbar"
    style="color: var(--main-color); background: var(--main-color); top: 0px">
    <div class="container">
      <a class="navbar-brand mt-2 mt-lg-0" href="<%- BrandLink %>"
        style="color: var(--text-color); font-family: 'Arvo', serif;" target="_blank">
        <img src="<%- BrandLogo %>" alt="<%- BrandName %> Logo" width="36" height="36"
          class="d-inline-block align-text-top" loading="lazy">
        <%- BrandName %>
      </a>

      <!-- Navbar Toggler for Mobile -->
      <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#NavbarToggler"
        aria-controls="NavbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <div class="navbar-collapse collapse" id="NavbarToggler">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 text-small">
          <% Object.entries(Links).forEach(link=> { %>
            <% if (link[1].type==="dropdown" ) { %>
              <li class="nav-item dropdown me-3 me-lg-1">
                <div class="dropdown">
                  <div class="btn dropdown-toggle px-2 text-white" type="button" id="dropdown_<%- link[1].name %>"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span><i class="<%- link[1].icon %> bi d-block mx-auto mb-1 fa-lg text-center text-wrap"></i>
                      <%- link[1].name %>
                    </span>
                  </div>

                  <ul class="dropdown-menu" aria-labelledby="dropdown_<%- link[1].name %>"
                    style="background-color: var(--secondary-color);">
                    <% Object.entries(link[1].links).forEach(dropdownElements=> { %>
                      <a href="<%- dropdownElements[1].link %>" class="dropdown-item text-white text-center text-wrap">
                        <span><i class="<%- dropdownElements[1].icon %> bi d-block mx-auto mb-1 fa-lg"></i>
                          <%- dropdownElements[1].name %>
                        </span>
                      </a>
                      <% }) %>
                  </ul>
                </div>
              </li>
              <% } else if (link[1].type==="link" ) { %>
                <li class="nav-item me-3 me-lg-1 active">
                  <a class="nav-link fw-bold text-center text-wrap" href="<%- link[1].link %>"
                    style="color: var(--text-color);">
                    <span><i class="<%- link[1].icon %> bi d-block mx-auto mb-1 fa-lg"></i>
                      <%- link[1].name %>
                    </span>
                  </a>
                </li>
                <% } %>
                  <% }) %>
        </ul>

        <% if (user) { %>
          <ul class="nav justify-content-center">
            <div class="dropdown">
              <div class="btn dropdown-toggle px-2 text-white" type="button" id="dropdown_bell" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fas fa-bell fa-lg"></i>
              </div>

              <ul class="dropdown-menu" aria-labelledby="dropdown_bell"
                style="left: -80px;top: 50px;background-color: var(--secondary-color);">
                <li><a class="dropdown-item text-white" href="#">Ui updated!</a></li>
              </ul>
            </div>

            <div class="dropdown">
              <div class="btn dropdown-toggle px-2 text-white" type="button" id="dropdown_services" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
              </div>

              <ul class="dropdown-menu" aria-labelledby="dropdown_services"
                style="left: -80px;top: 50px;background-color: var(--secondary-color);">
                <div class="dropdown-header">
                  <h5 class="text-center text-overflow text-white">Services</h5>
                </div>

                <a href="/bot" class="dropdown-item text-white text-center text-wrap">
                  <i class="fas fa-robot"></i>
                  <span>Ch1llBlox</span>
                </a>
              </ul>
            </div>

            <div class="dropdown">
              <div class="btn dropdown-toggle px-2 text-white" type="button" id="dropdown_user" data-bs-toggle="dropdown"
                aria-expanded="false">
                <span class="avatar avatar-sm rounded-circle mx-auto d-block">
                  <img src="https://cdn.discordapp.com/avatars/<%- user.id %>/<%- user.avatar %>.png?size=1024"
                    alt="<%- user.username %>'s Profile Icon">
                </span>
              </div>

              <ul class="dropdown-menu" aria-labelledby="dropdown_user"
                style="left: -80px;top: 50px;background-color: var(--secondary-color);">
                <span class="avatar avatar-lg rounded-circle mx-auto d-block">
                  <img src="https://cdn.discordapp.com/avatars/<%- user.id %>/<%- user.avatar %>.png?size=1024"
                    alt="<%- user.username %>'s Profile Icon">
                </span>

                <div class="dropdown-header">
                  <h5 class="text-center text-overflow text-white">
                    <%- user.username %>
                  </h5>
                </div>

                <a href="/users/<%- user.id %>/profile" class="dropdown-item text-white text-center text-wrap">
                  <i class="fas fa-id-card"></i>
                  <span>Profile</span>
                </a>

                <a href="/settings" class="dropdown-item text-white text-center text-wrap">
                  <i class="fas fa-cog"></i>
                  <span>Settings</span>
                </a>

                <div class="dropdown-divider"></div>

                <a class="dropdown-item text-center text-wrap" href="/api/logout" style="color: red">Log Out</a>
              </ul>
            </div>
          </ul>
          <% } else { %>
            <div class="d-flex ms-auto">
              <a href="/api/login" class="btn btn-primary shadow-none" type="button"
                style="margin: 5px; background-color: var(--secondary-color); border-color: var(--secondary-color); border-color: var(--secondary-color); color: var(--text-color); border-radius: 10px">Login</a>
            </div>
            <% } %>
      </div>
  </nav>
</header>