<header>
  <nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-light p-3 text-white" style="color: var(--main-color); background: var(--main-color); top: 0px">
    <a class="navbar-brand py-0" href="<%- BrandLink %>" style="color: var(--text-color); font-family: 'Arvo', serif;" target="_blank">
      <img src="<%- BrandLogo %>" alt="" width="30" height="30" class="d-inline-block align-text-top"><%- BrandName %>
    </a>

    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbar-content">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 text-small">
        <li class="nav-item text-secondary">
          <a class="nav-link text-white fw-bold" href="<%- link %>" style="color: var(--text-color);"><i class="<%- linkicon %> bi d-block mx-auto mb-1"></i><%- linkname %></a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link text-white fw-bold" href="<%- link2 %>" style="color: var(--text-color);"><i class="<%- linkicon2 %> bi d-block mx-auto mb-1"></i><%- linkname2 %></a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link text-white fw-bold" href="<%- link3 %>" style="color: var(--text-color);"><i class="<%- linkicon3 %> bi d-block mx-auto mb-1"></i><%- linkname3 %></a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link text-white fw-bold" href="<%- link4 %>" style="color: var(--text-color);"><i class="<%- linkicon4 %> bi d-block mx-auto mb-1"></i><%- linkname4 %></a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link text-white fw-bold" href="<%- link5 %>" style="color: var(--text-color);"><i class="<%- linkicon5 %> bi d-block mx-auto mb-1"></i><%- linkname5 %></a>
        </li>
      </ul>
        <% if (user) { %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: var(--text-color); font-family: 'Arvo', serif">
              <img src="https://cdn.discordapp.com/avatars/<%- user.id %>/<%- user.avatar %>.png?size=1024" alt="<%- user.username %>'s Profile Icon" style="margin-right: 0; display: inline-block; position: relative; width: 3rem; height: 3rem; text-align: center; border: #dee2e6; border-radius: 50%; background: #fff; line-height: 3rem; position: relative"> 
            </a>

            <div class="dropdown-menu dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown" style="background-color: white; position: absolute; font-size: .9rem; text-align: left; list-style: none; border: 1px solid rgba(0,0,0,0); border-radius: .25rem;">
              <h3>KingCh1ll</h3>

              <a class="dropdown-item" href="/users/571811686617710592/profile"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>Profile</a>
              <% if (BrandName === "Ch1llBlox") { %>
                <a class="dropdown-item" href="/bot/dashboard">Dashboard</a>
              <% } %>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/api/logout" style="color: red"><a class="dropdown-item" href="/api/logout" style="color: red"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>Sign Out</a>
            </div>
          </li>
        </ul>
      </ul>
      <% } else { %>
      <div class="text-end">
        <a href="/api/login" type="button" class="btn btn-primary shadow-none" type="button" style="margin: 5px; background-color: var(--secondary-color); border-color: var(--secondary-color); border-color: var(--secondary-color); color: var(--text-color); border-radius: 10px">Login</a>
      </div>
    <% } %>
  </nav>
</header>