<div class="col-4 col-lg-2 text-center justify-content-center aos-init aos-animate" style="border-radius: 34px; padding: 50px 0; background-color: #eef4f7;" data-aos="fade-up" data-aos-delay="100">
    <a href="<%- link %>">
        <img class="rounded" src="<%- image %>" style="color: var(--main-color);" width="125" height="125"
            alt="<%- alt %>"></img>
        <h3>
            <%- name %>
        </h3>
    </a>

    <p style="color: #7d8285;">
        <%- description %>
    </p>
</div>