<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("Parts/head", {
    SiteTitle: "Dashboard - Ch1llBlox",
    SiteDescription: "Ch1llBlox is a Discord Bot",

    SiteKeywords: "KingCh1ll, King, Ch1ll, KingChill, Chill, Discord, Developer, Developer Discord, Discord Developer, Roblox, Roblox Developer, Developer Roblox, Ch1llBlox, Ch1ll, Blox, chillblox, chill bot, top.gg"
  }) -%>
</head>

<body style="background-color: var(--main-color);" data-aos-easing="ease" data-aos-duration="400">
  <%- include("Parts/navagation", {
    name: "Ch1llBlox",
    domainname: "#top",

    linkname: "Ch1llBlox",
    linkicon: "fas fa-robot",
    link: "#top",

    linkname2: "Home",
    linkicon2: "fas fa-home",
    link2: "/home",

    linkname3: "Ch1ll Studios",
    linkicon3: "fas fa-snowflake",
    link3: "/ch1llstudios",
  
    linkname4: "",
    linkicon4: "",
    link4: "",

    linkname5: "",
    linkicon5: "",
    link5: ""
  }) -%>

  <div id="top">
    <div class="alert alert-danger" role="alert">I don't recommend using Ch1llBlox's dashboard at the momment. I recommend using our other one. <a href="https://ch1llblox.botdash.pro/">Click Here</a></div>
    <div class="background" style="background: url(/assets/images/RobloxGBanner.jpg);"></div>
  </div>

  <% include("Parts/top", {
    Logo: "/assets/images/RedesignCh1llBlox.png",
    backgroundURL: "/assets/images/RobloxGBanner.jpg"

    alert: {
      text: "I don't recommend using Ch1llBlox's dashboard at the momment. I recommend using our other one. <a href=\"https://ch1llblox.botdash.pro/\">Click Here</a>"
      type: "danger"
    }
  }) %>

  <div style="display: flex; flex-wrap: wrap; justify-content: center;">
    <% user.guilds.forEach((guild) => {
      const GuildPerms = new perms(guild.permissions)

      if (!GuildPerms.has("MANAGE_GUILD")){
        return
      }
    %>
    <div class="card" style="max-width: 18rem; margin: 2rem; min-width: 10em;">
        <img class="card-img-top" alt="<%- `${guild.name}'s Guild Icon` %>" src="<%- guild.icon ? `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}` : `https://support.discord.com/hc/user_images/l12c7vKVRCd-XLIdDkLUDg.png`%>">

        <div class="card-body">
            <h5 class="card-title"><%= guild.name %></h5>
            <a href="/bot/dashboard/<%- guild.id %>" class="btn btn-primary text-white">Manage Guild</a>
        </div>
    </div>
    <%
        });
    %>
  </div>
  
  <%- include("Parts/footer", {
      FooterDescription: "Ch1llBlox is a free Discord bot created by KingCh1ll to make your server active without spending any money."
    }) %> 

    <%- include("Parts/scripts") %>
</body>
</html>
