<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard | Ch1llBlox</title>

  <%- include("Parts/head") %>
</head>

<body style="background-color: var(--background-color);">
  <div id="top" style="height: 12px;">
    <div class="background"></div>
    
    <%- include("Parts/navagation", {
      name: "Ch1llBlox",
      domainname: "/bot",

      linkname: "Home",
      link: "/home",

      linkname2: "",
      link2: "",

      linkname3: "",
      link3: "",
      
      linkname4: "",
      link4: ""
    }) -%>
  </div>

  <div style="display: flex; flex-wrap: wrap; justify-content: center;">
    <% user.guilds.forEach((guild) => {
      const GuildPerms = new perms(guild.permissions)

      if (!GuildPerms.has("MANAGE_GUILD")){
        return
      }
    %>
    <div class="card" style="max-width: 18rem; margin: 2rem; min-width: 10em;">
    <%- guild.icon ? `<img src="https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}" class="card-img-top" style="max-width: 18rem;">` : `<img src="https://support.discord.com/hc/user_images/l12c7vKVRCd-XLIdDkLUDg.png" class="card-img-top" style="max-width: 18rem;">` %>
      <div class="card-body">
        <h5 class="card-title"><%= guild.name %></h5>
        <p class="card-text">Edit <%= guild.name %>'s settings via the dashboard by clicking the button below.</p>
        <a href="/bot/dashboard/<%- guild.id %>" class="btn btn-success text-white">Edit Settings</a>
      </div>
    </div>
    <%
        });
    %>
  </div>
  
  <div class="footer-dark" style="background: var(--secondary-color); padding-top: 0px; padding-bottom: 0px;">
  <div class="container">
    <div class="row">
      <div class="col item social">
        <a href="/bot/youtube">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
    </div>
    <p class="copyright" style="color: var(--text-color);">© 2021 Ch1llBlox. All rights reserved. Ch1llBlox is NOT affiliated with <a href="https://discordapp.com/">Discord</a> nor <a href="https://roblox.com/home">Roblox</a>.</p>
  </div>
  </div>

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/counting.js"></script>
  <script src="/assets/js/handle.js"></script>
</body>
</html>
