<!DOCTYPE html>
<html lang="en">
<head>
  <title><%- guild.name %>'s Dashboard | Ch1llBlox</title>

  <%- include("Parts/head") %>
  <script>
    function SaveSetting(database, type, field){
      if (type.toLowerCase() === "input"){
        const http = new XMLHttpRequest()
        const url = `${window.location.protocol}//${window.location.hostname}/api/updatedata?guildID=<%- guild.id %>&value=${encodeURIComponent(field.value)}`

        http.open("GET", url)
        http.send()

        http.onreadystatechange = () => {
          if (http.responseText === "200"){
            // Create an alert
            /*
            if (alert.status === "success") {
              <div class="alert alert-success" role="alert">
                alert.text
              </div>
          else if (alert.status === "error") {
        <div class="alert alert-danger" role="alert">
          alert.text
        </div>
            */
          }
        }
      }
    }
  </script>
</head>

<body style="background-color: var(--background-color);">
  <div id="top" style="height: 12px;">
    <div class="background" style="background: url(/assets/images/RobloxGBanner.jpg);"></div>

    <%- include("Parts/navagation", {
      name: "Ch1llBlox",
      domainname: "/bot",

      linkname: "Home",
      link: "/home",

      linkname2: "Dashboard",
      link2: "/bot/dashboard",

      linkname3: "",
      link3: "",
      
      linkname4: "",
      link4: ""
    }) -%>
  </div>

  <div class="container-sm center" style="margin-top: 30px;">
    <div class="d-grid gap-2 col-4 mx-auto">
      <h1><%= guild.name %></h1>
      <hr>
      <form method="POST">
        <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Prefix</p>
        <p style="font-style: italic;" class="disabled">err</p>
        <input type="text" class="form-control" name="prefix" value="<%= settings.prefix %>" placeholder="Your prefix for the server.">
        <br><button type="submit" class="btn btn-secondary text-white">Save Settings</button>
      </form>
    </div>
  </div>
  
  <div class="footer-dark" style="background: var(--secondary-color); padding-top: 0px; padding-bottom: 0px;">
  <div class="container">
    <div class="row">
      <div class="col item social">
        <a href="/bot/youtube">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
    </div>
    <p class="copyright" style="color: var(--text-color);">© 2021 Ch1llBlox. All rights reserved. Ch1llBlox is NOT affiliated with <a href="https://discordapp.com/">Discord</a> nor <a href="https://roblox.com/home">Roblox</a>.</p>
  </div>
  </div>

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/counting.js"></script>
  <script src="/assets/js/handle.js"></script>
</body>
</html>
