<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("Parts/head", {
    SiteTitle: "<%- guild.name %>'s Dashboard | Ch1llBlox",
    SiteDescription: "Ch1llBlox is a Discord Bot",

    SiteKeywords: "KingCh1ll, King, Ch1ll, KingChill, Chill, Discord, Developer, Developer Discord, Discord Developer, Roblox, Roblox Developer, Developer Roblox, Ch1llBlox, Ch1ll, Blox, chillblox, chill bot, top.gg"
  }) -%>
</head>

<body style="background-color: var(--main-color);">
  <div id="top">
    <div class="background" style="background: url(/assets/images/RobloxGBanner.jpg);"></div>

    <%- include("Parts/navagation", {
      name: "Ch1llBlox",
      domainname: "/bot",

      linkname: "Home",
      link: "/home",

      linkname2: "Dashboard",
      link2: "/bot/dashboard",

      linkname3: "",
      link3: "",
      
      linkname4: "",
      link4: ""
    }) -%>
  </div>

  <div class="container-sm center" style="margin-top: 30px;">
    <div class="d-grid gap-2 col-4 mx-auto">
      <h1><%= guild.name %></h1>
      <hr>

      <form method="POST">
        <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Prefix</p>
        <p style="font-style: italic;" class="disabled">err</p>
        <input type="text" class="form-control" name="prefix" value="<%= settings.prefix || "^" %>" placeholder="Your prefix for the server." autocomplete="off">
        
        <br>

        <button type="submit" class="btn btn-secondary text-white">Save Settings</button>
      </form>
    </div>
  </div>
  
  <%- include("Parts/footer", {
    FooterDescription: "Ch1llBlox is a free Discord bot created by KingCh1ll to make your server active without spending any money."
  }) %> 

  <%- include("Parts/scripts") %>
</body>
</html>
