<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard | Ch1llBlox</title>

  <%- include("Parts/head") %>
</head>

<body style="background-color: var(--background-color);">
  <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
  
  <div id="top" style="height: 12px;">
    <div class="background"></div>
    
    <%- include("Parts/navagation", {
      name: "Ch1llBlox",
      domainname: "/bot",

      linkname: "Home",
      link: "/home",

      linkname2: "",
      link2: "",

      linkname3: "",
      link3: "",
      
      linkname4: "",
      link4: ""
    }) -%>
  </div>

  <div class="container-sm center" style="margin-top: 30px;">
    <div class="d-grid gap-2 col-4 mx-auto">
      <% if (alert) { %>
        <div class="alert alert-success" role="alert">
          <%= alert %>
        </div>
      <% } %>
      <h1><%= guild.name %></h1>
      <hr>
      <form method="POST">
        <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Prefix</p>
        <p style="font-style: italic;" class="disabled">err</p>
        <input type="text" class="form-control" name="prefix" value="<%= settings.prefix %>" placeholder="Your prefix for the server.">
        <br><button type="submit" class="btn btn-secondary text-white">Save Settings</button>
      </form>
    </div>
  </div>
  
  <div class="footer-dark" style="background: var(--secondary-color); padding-top: 0px; padding-bottom: 0px;">
  <div class="container">
    <div class="row">
      <div class="col item social">
        <a href="/bot/youtube">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
    </div>
    <p class="copyright" style="color: var(--text-color);">© 2021 Ch1llBlox. All rights reserved. Ch1llBlox is NOT affiliated with <a href="https://discordapp.com/">Discord</a> nor <a href="https://roblox.com/home">Roblox</a>.</p>
  </div>
  </div>

  <script>
    window.onload = () => {
        setTimeout(() => {
            $("#lds-ellipsis").remove()
        }, 5 * 1000)
    }
  </script>

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/counting.js"></script>
  <script src="/assets/js/handle.js"></script>
</body>
</html>
