<!DOCTYPE html>
<html lang="en">
    <!-- Header -->
  <head>
    <%- include("components/head", {
        title: "SparkV",
        desc: "SparkV is a Discord bot."
    }) %>
  </head>

  <body style="background-color: var(--main-color);" data-aos-easing="ease" data-aos-duration="400">
    <noscript>
      To use this website, you need JavaScript enabled.
    </noscript>

    <div id="loading">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div class="loader"></div>
        </div>
      </div>
    </div>

     <%- include("components/navagation", {
        BrandName: "SparkV",
        BrandLink: "#top",
        BrandLogo: "/assets/images/SparkV.png"
      }) %> 

  <!-- Main Content -->
      <main>
     <%- include("components/top", {
        BrandName: "SparkV",
        BrandLogo: "/assets/images/SparkV.png",
        TypeText: true,
  
        buttons: {
          button1: {
            name: "Invite",
            link: "/invite"
          },
  
          button2: {
            name: "Donate",
            link: "/donate"
          }
        },
        
        backgroundURL: null,
        alert: null
      }) %>

      <%- include("components/features", {
        features: {
          features1: {
            name: "Features",
  
            boxes: {
              box1: {
                name: "24/7 Uptime",
                description: "Don't worry about SparkV going offline! SparkV will always be online 24/7. If he is spotted offline, get support in our support server.",
                link: "#top",
                image: "/assets/images/lightningbolt.png",
                alt: "Lightning Bolt Icon"
              }
            }
          },
        }
      }) %> 

    <%- include("components/footer", {
        Description: "SparkV is a multipurpose free Discord bot created by KingCh1ll. KingCh1ll is a self taught developer that enjoys coding. He knows many coding languages."
    }) %>
    </main>

    <%- include("components/scripts") %>
  </body>
</html>
