<!DOCTYPE html>
<html lang="en">
    <!-- Header -->
  <head>
    <%- include("components/head", {
        title: "Ch1llBlox",
        desc: "Ch1llBlox is a Discord bot."
    }) %>
  </head>

  <body style="background-color: var(--main-color);" data-aos-easing="ease" data-aos-duration="400">
    <noscript>
      To use this website, you need JavaScript enabled.
    </noscript>

    <div id="loading">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div class="loader"></div>
        </div>
      </div>
    </div>

     <%- include("components/navagation", {
        BrandName: "Ch1llBlox",
        BrandLink: "#top",
        BrandLogo: "/assets/images/ch1llblox.png"
      }) %> 

  <!-- Main Content -->
      <main>
     <%- include("components/top", {
        BrandName: "Ch1llBlox",
        BrandLogo: "/assets/images/Ch1llBlox.png",
        TypeText: true,
  
        buttons: {
          button1: {
            name: "Invite",
            link: "/invite"
          },
  
          button2: {
            name: "Donate",
            link: "/donate"
          }
        },
        
        backgroundURL: null,
        alert: null
      }) %>

      <%- include("components/features", {
        features: {
          features1: {
            name: "Features",
  
            boxes: {
              box1: {
                name: "24/7 Uptime",
                description: "Don't worry about Ch1llBlox going offline! Ch1llBlox will always be online 24/7. If he is spotted offline, get support in our support server.",
                link: "#top",
                image: "/assets/images/lightningbolt.png",
                alt: "Lightning Bolt Icon"
              }
            }
          },
        }
      }) %> 

    <%- include("components/footer", {
        Description: "Ch1llBlox is a multipurpose free Discord bot created by KingCh1ll. KingCh1ll is a self taught developer that enjoys coding. He knows many coding languages."
    }) %>
    </main>

    <%- include("components/scripts") %>
  </body>
</html>
