<!DOCTYPE html>
<html lang="en">
  <head>
    <% if (head) { %>
      <%- include("Parts/head", head) %>
    <% } %>
  </head>

  <body style="background-color: var(--main-color);" data-aos-easing="ease" data-aos-duration="400">
    <div id="loading">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div class="loader"></div>
        </div>
      </div>
    </div>

    <% if (navagation) { %>
      <%- include("Parts/navagation", navagation) %>
    <% } %>

    <% if (top) { %>
      <%- include("Parts/top", top) %>
    <% } %>

    <% if (footer) { %>
      <%- include("Parts/footer", footer) %>
    <% } %>
    
    <%- include("Parts/scripts") %>
  </body>
</html>
