<!DOCTYPE html>
<html lang="en">
  <% if (head) { %>
    <%- include("components/head", head) %>
  <% } %>

  <body style="background-color: var(--main-color);" data-aos-easing="ease" data-aos-duration="400">
    <div id="loading">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div class="loader"></div>
        </div>
      </div>
    </div>

    <% if (navagation) { %>
      <%- include("components/navagation", navagation) %>
    <% } %>

    <% if (top) { %>
      <%- include("components/top", top) %>
    <% } %>

    <% if (footer) { %>
      <%- include("components/footer", footer) %>
    <% } %>
    
    <%- include("components/scripts") %>
  </body>
</html>
