<!DOCTYPE html>
<html lang="en">
  <% if (head) { %>
    <%- include("Parts/head", head) %>
  <% } %>

  <body style="background-color: var(--main-color);" data-aos-easing="ease" data-aos-duration="400">
    <div id="loading">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div class="loader"></div>
        </div>
      </div>
    </div>

    <% if (navagation) { %>
      <%- include("Parts/navagation", navagation) %>
    <% } %>

    <div id="top">
      <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://cdn.discordapp.com/avatars/<%- userdata.userid %>/<%- userdata.avatarid %>.png?size=1024" alt="Logo" width="150" height="150" style="margin-top: 30px;">
        <h1 class="display-5 fw-bold" style="color: var(--text-color)"><%- userdata.username %></h1>
        <h3 class="display-8 text-muted" style="color: var(--text-color)"><i>#<%- userdata.tag %></i></h3>
        <h3 class="display-8 text-muted" style="color: var(--text-color)"><i><%- userdata.description %></i></h3>
      </div>
    </div>

    <% if (footer) { %>
      <%- include("Parts/footer", footer) %>
    <% } %>

    <%- include("Parts/scripts") %>
  </body>
</html>
