<!-- Navagation -->
<header>
  <nav class="navbar navbar-expand-lg fixed-top text-white auto-hiding-navbar" style="color: var(--main-color); background: var(--main-color); top: 0px" data-mdb-hidden="false">
    <div class="container">
      <!-- Logo -->
      <a class="navbar-brand mt-2 mt-lg-0" href="<%- BrandLink %>" style="color: var(--text-color); font-family: 'Arvo', serif;" target="_blank">
        <img src="<%- BrandLogo %>" alt="<%- BrandName %> Logo" width="36" height="36" class="d-inline-block align-text-top" loading="lazy">
        <%- BrandName %>
      </a>

      <!-- Navbar Toggler for Mobile -->
      <button class="btn navbar-toggler ms-auto" type="button" data-mdb-toggle="collapse" data-mdb-target="#NavbarToggler" aria-controls="NavbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars" style="background: white"></i>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="NavbarToggler">
        <div class="py-2 py-lg-0">
          <ul class="nav justify-content-center mb-md-0 text-small">
            <% Object.entries(Links).forEach(link => { %>
              <% if (link[1].type==="dropdown" ) { %>
                <div class="dropdown me-3 me-lg-1">
                  <button class="btn btn-primary dropdown-toggle px-2 text-white fw-bold" type="button" id="dropdown_<%- link[1].name %>" data-mdb-toggle="dropdown" aria-expanded="false">
                    <span><%- link[1].name %></span>
                  </button>

                  <ul class="dropdown-menu" aria-labelledby="dropdown_<%- link[1].name %>" style="background-color: var(--secondary-color);">
                    <% Object.entries(link[1].links).forEach(dropdownElements=> { %>
                      <a href="<%- dropdownElements[1].link %>" class="dropdown-item text-wrap text-white text-center text-wrap fw-bold">
                        <span><i class="<%- dropdownElements[1].icon %> bi d-block mx-auto mb-1 fa-lg"></i>
                          <%- dropdownElements[1].name %>
                        </span>
                      </a>
                    <% }) %>
                  </ul>
                </div>
              <% } else if (link[1].type==="link" ) { %>
                <li class="nav-item me-3 me-lg-1">
                  <a class="nav-link fw-bold text-center text-wrap fw-bold" href="<%- link[1].link %>" style="color: var(--text-color);">
                    <span><%- link[1].name %>
                    </span>
                  </a>
                </li>
              <% } %>
            <% }) %>

                      <% if (user) { %>
                        <div class="dropdown">
                          <div class="btn dropdown-toggle px-2 text-white" type="button" id="dropdown_bell"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-bell fa-lg"></i>
                          </div>

                          <ul class="dropdown-menu" aria-labelledby="dropdown_bell"
                            style="left: -80px;top: 50px;background-color: var(--secondary-color);"
                            data-popper-placement="null" data-mdb-popper="none">
                            <li>
                              <a class="dropdown-item text-wrap disabled" data-notification-date="6/21/2021 at 5:44 PM">
                                <p class="small text-uppercase mb-2">June 21, 2021</p>
                                <p class="text-white mb-0">Modern Ui Update!</p>
                              </a>
                            </li>
                          </ul>
                        </div>

                        <div class="dropdown">
                          <div class="btn dropdown-toggle px-2 text-white" type="button" id="dropdown_services"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                          </div>

                          <ul class="dropdown-menu" aria-labelledby="dropdown_services"
                            style="left: -80px;top: 50px;background-color: var(--secondary-color);">
                            <div class="dropdown-header">
                              <h5 class="text-center text-overflow text-white">Services</h5>
                            </div>

                            <a href="/bot" class="dropdown-item text-wrap text-white text-center text-wrap fw-bold">
                              <i class="fas fa-robot"></i>
                              <span>Ch1llBlox</span>
                            </a>
                          </ul>
                        </div>

                        <div class="dropdown">
                          <div class="btn dropdown-toggle px-2 text-white" type="button" id="dropdown_user"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="avatar avatar-sm rounded-circle mx-auto d-block">
                              <img
                                src="https://cdn.discordapp.com/avatars/<%- user.id %>/<%- user.avatar %>.png?size=1024"
                                alt="<%- user.username %>'s Profile Icon">
                            </span>
                          </div>

                          <ul class="dropdown-menu" aria-labelledby="dropdown_user"
                            style="left: -80px;top: 50px;background-color: var(--secondary-color);">
                            <span class="avatar avatar-lg rounded-circle mx-auto d-block">
                              <img
                                src="https://cdn.discordapp.com/avatars/<%- user.id %>/<%- user.avatar %>.png?size=1024"
                                alt="<%- user.username %>'s Profile Icon">
                            </span>

                            <div class="dropdown-header">
                              <h5 class="text-center text-overflow text-white">
                                <%- user.username %>
                              </h5>
                            </div>

                            <a href="/users/<%- user.id %>/profile"
                              class="dropdown-item text-wrap text-white text-center text-wrap fw-bold">
                              <i class="fas fa-id-card"></i>
                              <span>Profile</span>
                            </a>

                            <a href="/settings" class="dropdown-item text-wrap text-center text-wrap fw-bold disabled"
                              tabindex="-1" aria-disabled="true">
                              <i class="fas fa-cog"></i>
                              <span>Settings</span>
                            </a>

                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item text-wrap text-center text-wrap fw-bold" href="/api/logout"
                              style="color: red">
                              <i class="fas fa-sign-out-alt"></i>
                              <span>Log Out</span>
                            </a>
                          </ul>
                        </div>
                        <% } else { %>

                          <% } %>
          </ul>
        </div>

        <% if (!user) { %>
          <a href="/api/login" class="btn nav-link text-white fw-bold" type="button" style="margin: 5px; background-color: var(--secondary-color); border-color: var(--secondary-color); color: var(--text-color); border-radius: 10px">
            <i class="fas fa-sign-in-alt"></i>
            Login
          </a>
        <% } %>
      </div>
    </div>
  </nav>
</header>