<!-- First Screen (Top) -->
<section class="hero">
  <% if (backgroundURL) { %>
    <div class="background" style="background: url(backgroundURL)"></div>
  <% } %>

  <% if (alert) { %>
    <div class="alert alert-<%- alert.type %>" role="alert"><%- alert.text %></div>
  <% } %>

  <div class="px-4 py-5 my-5 text-center">
      <img class="d-block mx-auto mb-4" src="<%- BrandLogo %>" alt="Logo" width="<%- BrandLogoWidth || "36" %>" height="<%- BrandLogoHeight || "36" %>" style="margin-top: 30px;">
      <h1 class="display-5 fw-bold" style="color: var(--text-color)"><%- BrandName %></h1>
      <div class="col-lg-6 mx-auto">
        <% if (TypeText) { %>
          <h2 class="display" style="color: var(--text-color)">
            <span id="TypedText" name="<%- BrandName %>"></span>
          </h2>
        <% } %>

        <% if (buttons) { %>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <% Object.entries(buttons).forEach(button => { %>
              <a class="btn nav-link text-white fw-bold" class="btn btn-primary shadow-none" type="button" href="<%- button[1].link %>" style="margin: 5px; background-color: var(--secondary-color); border-color: var(--secondary-color); border-color: var(--secondary-color); color: var(--text-color); border-radius: 10px"><%- button[1].name %></a>
            <% }) %>
          </div>
        <% } %>
      </div>
    </div>
</section>