<title><%- SiteTitle %></title>
<meta name="description" content="<%- SiteDescription %>">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<meta name="keywords" content="<%- SiteKeywords %>">
<meta name="theme-color" content="#3bd8ff">
<meta charset="utf-8">

<meta property="og:title" content="<%- SiteTitle %>">
<meta property="og:description" content="<%- SiteDescription %>">
<meta property="og:image" content="/assets/images/siteicons/favicon.ico">
<meta property="og:image:width" content="64">
<meta property="og:image:height" content="64">

<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/siteicons/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/siteicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/fav/favicon-16x16.png">

<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap&subset=latin-ext" rel="stylesheet">

<link href="/assets/css/theme.css" rel="stylesheet" type="text/css">
<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet" type="text/css">
<link href="/assets/css/aos.css" rel="stylesheet">

<script src="https://browser.sentry-cdn.com/6.3.6/bundle.min.js" integrity="sha384-Wh1kaX6+TxjSQdRRE+XUoIsEh5Cj8LgB6Wjbg/1/kTB3aG7q6ORaKSe5VfThKhcj" crossorigin="anonymous"></script>
<script src="https://www.googletagservices.com/activeview/js/current/osd.js"></script>
<script src="/assets/js/aos.js"></script>
<script src="https://www.google-analytics.com/analytics.js" type="text/javascript"></script>
<script type="text/javascript">
   window.ga || function () {
      (ga.q = ga.q || []).push(arguments)
   };
   
   ga.l = +new Date;
   ga("create", "US-181021133-2", "auto")
</script>
