<nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-light" style="color: var(--main-color); background: var(--main-color); top: 0px">
  <a class="navbar-brand" href="<%- domainname %>" style="color: var(--text-color); font-family: 'Arvo', serif;">
    <img src="/assets/images/kingch1ll.png" alt="" width="30" height="30" class="d-inline-block align-text-top"><%- name %>
  </a>

  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbar-content">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 p-4">
      <li class="nav-item">
        <a class="nav-link" href="<%- link %>" style="color: var(--text-color);"><%- linkname %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%- link2 %>" style="color: var(--text-color);"><%- linkname2 %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%- link3 %>" style="color: var(--text-color);"><%- linkname3 %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%- link4 %>" style="color: var(--text-color);"><%- linkname4 %></a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <% if (user) { %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-inline-start: 10px">
            <img src="https://cdn.discordapp.com/avatars/<%- user.id %>/<%- user.avatar %>.png?size=1024" alt="" style="border-radius: 50%" width="30" height="30"><%= user.username %>
          </a>
          
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="color: var(--main-color); background: var(--main-color)">
            <a class="dropdown-item" href="/users/<%- user.id %>/profile">Profile</a></li>
            <% if (domainname === "Ch1llBlox") { %>
              <a class="dropdown-item" href="/bot/dashboard">Dashboard</a></li>
            <% } %>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/api/logout" style="color: red">Logout</a></li>
          </ul>
        </div>
        </li>
        <% } else { %>
          <li class="nav-item"><a href="/api/login" class="nav-link" style="color: rgb(255, 255, 255)">Login</a></li>
        <% } %>
    </ul>
</nav>
